@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
:root {
  --navbar-height: 56px;
}

.navbar {
  z-index: 10;  /* Ensures the Navbar is above the SidebarPanel */
}

.placeholder-italic::placeholder {
  font-style: italic;
}

.grid-container {
  position: relative;
}

.hover-grow {
  transition: transform 0.2s ease-in-out;
}

.hover-grow:hover {
  transform: scale(1.15);
}

.hanging-indent {
  text-indent: -.8em;  /* Adjust this value to match the bullet's margin */
  padding-left: .8em;  /* Adjust this value to match the bullet's margin */
}

.list-dash {
  list-style-type: none;
}

.list-dash li::before {
  content: "-";
  /*padding-right: 0.25em; /* Adjust the spacing as needed */
  font-size: 0.8em; /* Adjust the size as needed */
  display: inline-block;
  width: 1em; /* Adjust the width to align properly */
}

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-select {
  -webkit-appearance: none; /* Removes default styling in WebKit browsers */
  -moz-appearance: none;    /* Removes default styling in Firefox */
  appearance: none;         /* Removes default styling */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23E8E8E8'%3E%3Cpolyline fill='none' stroke='%23E8E8E8' stroke-width='2' points='5,7 10,12 15,7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.2em 1.2em; /* Adjust size as needed */
  padding-right: 1.5rem; /* Ensure padding to the right is sufficient to not overlap text */
}

body {
  @apply font-sans;
}

pre {
  @apply text-2xl font-thin font-sans !important;
}

@font-face {
  font-family: 'LeagueSpartan-SemiBold';
  src: url('/fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url('/fonts/LeagueSpartan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@layer base {
  ::placeholder {
    color: mediumgray;  /* Color for placeholder-italic in SidebarPanel */
  }
}

@layer utilities {
  /* Styles to remove number input spinners */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none; /* Use Tailwind's apply for consistency */
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* There's no Tailwind class for this, so we use regular CSS */
  }
}